<div class="container py-3">
<h1>Restaurants</h1>
<%# <%= link_to "Add a new restaurant", new_restaurant_path,  class: "btn btn-primary" %> <br><br>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li class="row" >
      <div class="col-sm"><h5 class="text-dark"><%= link_to restaurant.name, restaurant_path(restaurant.id), class: "text-decoration-none text-dark hover-light" %></h5></div>
      <div class="col-sm"><%= link_to "", new_restaurant_review_path(restaurant), class: "fa-regular fa-pen-to-square text-dark"%></div>
    </li>
    <% end %>
</ul>
</div>
